* {
   box-sizing: border-box;
}

.red-container-div{
    position: relative;
    display: inline-block;
}

.smaller-red-container-div{
    position: absolute;
    display: flex; 
    align-items: center;
    width: 100%;
    padding: 20px;
}

.player-health{
    display: flex;
    justify-content: flex-end;
}

.timer{
    background-color: red;
    height: 100px; 
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tie{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.health-div{
    position: relative;
    height: 30px;
    width: 100%;
}

.health{
    background-color: yellow; 
    height: 30px; 
    width: 100%;
}

.player-health-2{
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.enemy-health-2{
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
}